In [2]:
import pandas as pd
import seaborn as sns
import statistics

df = pd.read_csv('/home/bree/Downloads/archive/E-commerce.csv')
df.head()

,Customer ID,Age,Gender,Location,Annual Income,Purchase History,Browsing History,Product Reviews,Time on Site
0,1001,25,Female,City D,45000,"[{""Date"": ""2022-03-05"", ""Category"": ""Clothing""...","[{""Timestamp"": ""2022-03-10T14:30:00Z""}, {""Time...","Great pair of jeans, very comfortable. Rating:...",32.50
1,1001,28,Female,City D,52000,"[{""Product Category"": ""Clothing"", ""Purchase Da...","[{""Product Category"": ""Home & Garden"", ""Timest...",Great customer service!,123.45
2,1001,28,Female,City D,65000,"[{""Product Category"": ""Electronics"", ""Purchase...","[{""Product Category"": ""Clothing"", ""Timestamp"":...",Great electronics. The sound quality is excell...,125.60
3,1001,45,Female,City D,70000,"{'Purchase Date': '2022-08-15', 'Product Categ...",{'Timestamp': '2022-09-03 14:30:00'},"{""Product 1"": {""Rating"": 4, ""Review"": ""Great e...",327.60
4,1002,34,Male,City E,45000,"{'Purchase Date': '2022-07-25', 'Product Categ...",{'Timestamp': '2022-08-10 17:15:00'},"{""Product 1"": {""Rating"": 3, ""Review"": ""Good pr...",214.90

In [9]:
total_income = df['Annual Income'].iloc[:5].sum()
print(f"The total income for the first 5 is: {total_income}")

The total income for the first 5 is: 277000

In [15]:
total_income = df['Annual Income'].iloc[:5].tolist()
mean_income = statistics.mean(total_income)
print(mean_income)

55400

In [16]:
mean_income = df['Annual Income'].iloc[:5].mean()
print(mean_income)

55400.0

In [17]:
median_income = df['Annual Income'].iloc[:5].median()
print(median_income)

52000.0

In [18]:
mode_income = df['Annual Income'].iloc[:5].mode()
print(mode_income)

0    45000
Name: Annual Income, dtype: int64

In [19]:
total_income = df['Annual Income'].iloc[:5].tolist()
median_income = statistics.median(total_income)
print(median_income)

52000

In [20]:
total_income = df['Annual Income'].iloc[:5].tolist()
mode_income = statistics.mode(total_income)
print(mode_income)

45000